.volume-column-color {
  color: blue;
}

.price-red {
  color: red;
}

.price-green {
  color: green;
}
.table-head {
  text-align: center;
  margin: 20px;
}
.name-format {
  text-transform: capitalize;
  text-decoration-line: none;
}
